* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.parent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: black;
}

.cards {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 10px;
  width: 280px;
  height: 330px;
  position: relative;
  padding: 20px;
  box-shadow: 2px 2px 24px -9px red;
}

.top {
  /* background-color: red; */
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.top img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border: 1px solid rgb(45, 41, 41);
  border-radius: 50%;
}

.top button {
  background-color: whitesmoke;
  padding: 0px 20px;
  border-radius: 10px;
  border: none;
  /* font-size: ; */
}

.midel {
  border-bottom: 1px solid black;
  position: relative;
  height: 53%;
  padding: 20px; 
  
}

.midel h1 {
  font-weight: 600;
  font-size: 1rem;
}

.midel h1 span {
  font-size: 0.6rem;
  font-weight: 400;
}

.midel h2 {
  font-weight: 800;
  font-size: 1.5rem;
}

.midel p span {
  font-weight: 700;
  font-size: 0.6rem;
  background-color: beige;
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin: 0px 4px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;


}

.bottom .left h2 {
  font-weight: 600;
  font-size: 1rem;
}


.bottom .left h2 {
  font-weight: 600;
  font-size: 1rem;
}

.bottom .left span {
  font-size: 0.7rem;
  font-weight: 600;
}

.bottom button {
  background-color: black;
  padding: 7px 20px;
  border: none;
  color: white;
  /* font-weight: 100px; */
  font-size: .8rem;
  border-radius: 10px;
}